.DS_Store
*~
*.o
.#*
.Trash*
.Trash*/*
.Trash*/**/*
.directory

libmeshaware.so
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
CTestTestfile.cmake
Testing/
cunit_batman_adv
install_manifest.txt
